/*.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}*/

body,html,div.board,div#root{
  height:100%;
  overflow: auto;
}

div.board{
  background-color: brown;
  width:100%;
  background: #eab92d;
}

div.note{
  height:200px;
  width: 200px;
  background-color: #FFF933;
  margin-top: 2px 0;
  position:absolute;
  cursor:-webkit-grabbing;
  -webkit-box-shadow:5px 5px 15px 0 rgba(0,0,0,0.2);
  box-shadow: 5px 5px 15px 0 rgba(0,0,0,.2);
 
}

div.note:active{
  cursor: -webkit-grabbing;
}

div.note p{
  font-size: 22px;
  padding:5px;
  font-family: serif, Arial;
  font-style: italic;
}

div.note:hover{
  opacity:1;
}

span{
  position:absolute;
  margin:140px 0px 0px 120px;
}

button{
  position: fixed;
  margin:;

}
